:root{
    --border-color: black;
    --settings-icon-color: black;
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    /* height: 100%; */
    font-family: 'Poppins';
    /* overflow: hidden; */
}

/* h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
} */

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.form-control{
    margin-bottom: 5px;
}

.gameOverScreen{
    display: none;
    position: absolute; 
    z-index: 3;
    /* left: 0;
    right: 0; */
    text-align: center;
    /* margin-top: 300px; */
    background-color: white;
    max-width: fit-content !important;
    margin: auto;
    border-radius: 30px;
}

.startGameScreen{
    display: inline;
    /* display: none; */
    position: absolute; 
    z-index: 3;
    text-align: center;
    background-color: white;
    width: fit-content !important;
    min-width: 300px;
    margin: auto;
    border-radius: 30px;
    margin-top: 10% !important;
}

.onScreenControls{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    text-align: center;
}

.show{
    z-index: 3;
}

.points-background{
    background-color: white;
    max-width: fit-content;
    min-width: 300px;
    border-radius: 30px;
}

.settings-button{
    position: absolute;
    z-index: 5;
}

.exit-button{
    position: absolute;
    z-index: 5;
    right: 0;
}

.settings-modal{
    position: absolute;
    z-index: 4;
    border-radius: 30px;
    background-color: white;
    max-width: fit-content !important;
    width: 70vw !important;
    min-width: 200px !important;
}

.font-size-btn{
    border: 1px solid var(--border-color) !important;
    border-radius: 15px !important;
}

.font-size-btn:focus{
    background-color: transparent !important;
}

.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 3rem;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;
}
.color-picker::-webkit-color-swatch {
    border-radius: 15px;
    border: 1px solid var(--border-color);
}
.color-picker::-moz-color-swatch {
    border-radius: 15px;
    border: 1px solid var(--border-color);
}

#textsizeButtons{
    border: none !important;
}

.settingsIcon{
    color: var(--settings-icon-color);
}

legend{
    font-size: var(--bs-body-font-size) !important;
}

/* #speedSlider{
    max-width: ;
} */